@media(prefers-color-scheme: dark) {
  :root {
    --primary-background: #151437;
    --primary-text-color: #EBEBEB;
  }

  .logo::before {
    content: url(../images/logo-dark.png);
  }
  
  .works__tab.active, .works__tab:hover{
    color: var(--primary-background);
  }
  .footer__link,.footer__contact{
    color: var(--secondary-text-alt);
  }
  .footer__link:hover,.footer__contact:hover{
    color: var(--secondary-text-color-alt);
  }
}

@media(max-width:1400px) {
  .shape_1 {
    top: -300px;
  }
}
@media(max-width:1200px) {
  .shape_1 {
    top: -200px;
  }
  .shape_2{
    top: -50px;
  }
  .works__item{
    width: 50%;
  }

  .works__item:nth-of-type(1) .works__tab{
    border-radius: 8px 0 0 0;
  }
  .works__item:nth-of-type(2) .works__tab{
    border-radius: 0 8px 0 0;
  }
  .works__item:nth-last-of-type(1) .works__tab{
    border-radius: 0 0 8px 0;
  }
  .works__item:nth-last-of-type(2) .works__tab{
    border-radius: 0 0 0 8px;
  }
}

@media(max-width:992px) {
  .shape {
    display: none;
  }
}

@media(max-width:768px) {
  .rectangle {
    display: none;
  }
}

@media(max-width:576px){
  .works__item{
    width: 100%;
  }
  .works__tab{
    border-radius: 0 0 0 0 !important;
  }
  .works__item:first-child .works__tab{
    border-radius: 8px 8px 0 0 !important;
  }
  .works__item:last-child .works__tab{
    border-radius: 0 0 8px 8px !important;
  }
  
  .works__img{
    max-height: 400px;
  }
  .works__text{
    font-size: 14px;
  }
}