@import "font.css";

:root {
  --primary-background: #ffffff;
  --secondary-background: #7177f1;
  --primary-title-color: #7177f1;
  --secondary-title-color: #ffffff;
  --primary-text-color: #323232;
  --secondary-text-color: #7177f1;
  --secondary-text-color-alt: #ffffff;
  --primary-font-family: "Montserrat";
  --secondary-font-family: "Trebuchet";
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background: var(--primary-background);
}

/* ========================HEADER======================== */

.header {}

.logo::before {
  content: url(../images/logo-light.png);
}

.header__link {
  font-size: 24px;
  text-transform: capitalize;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: 0.5s;
  margin-right: 30px;
}

.header__link:hover {
  color: var(--primary-text-color);
}

.header__button {
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color-alt);
  background: var(--secondary-background);
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  text-decoration: none;
  font-size: 24px;
  text-transform: capitalize;
  transition: 0.5s;
  margin-right: 60px;
}

.header__button:hover {
  background: var(--primary-background);
  color: var(--primary-text-color);
}

.header__phone::before {
  content: "\f87b";
}

.header__phone {
  color: var(--secondary-text-color);
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.5s;
}

.header__phone:hover {
  color: var(--primary-text-color);
  text-shadow: 0 0 10px var(--primary-text-color);
}

.header__toggler {
  font-size: 25px;
  color: var(--primary-text-color);
  font-weight: 300;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.header__toggler::before {
  content: "\f0c9";
}

/* ===============================INTRO=============================== */

.intro {
  padding-top: 50px;
  position: relative;
}

.intro__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
  background: var(--primary-background);
}

.intro__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--primary-title-color);
  margin-bottom: 25px;
  text-transform: capitalize;
  background: var(--primary-background);
}

.intro__button {
  width: 300px;
  max-width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--secondary-background);
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  margin: auto;
  font-size: 18px;
  color: white;
  transition: 0.5s;
  margin-bottom: 50px;
}

.intro__button:hover {
  color: var(--primary-text-color);
  background: var(--primary-background);
}

.intro__brand {
  max-width: 100%;
  margin-bottom: 15px;
}

.intro__name {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background: var(--primary-background);
}

.intro__brand-icon {
  height: 90px;
  max-width: 100%;
  margin-bottom: 15px;
  color: #790ff1;
}

.intro__img {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.intro__indicators {
  position: static;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 50px;
}

.intro__dot {
  width: 15px;
  height: 15px;
  background: #828282;
  border-radius: 50%;
  margin: 0 15px;
  transition: 0.4s;
  cursor: pointer;
}

.intro__dot.active {
  background: var(--secondary-background);
}

.rectangle {
  position: absolute;
  border-width: 5px;
  border-style: solid;
  z-index: -1;
}

.rectangle_1 {
  border-color: #790ff1;
  width: 60px;
  height: 60px;
  left: 245px;
  top: -25px;
  border-radius: 50%;
}

.rectangle_2 {
  border-color: #9297ef;
  width: 80px;
  height: 80px;
  transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
  top: 0;
  left: 20px;
}

.rectangle_3 {
  top: 17px;
  right: 160px;
  width: 100px;
  height: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-color: #9297ef;
}

.rectangle_4 {
  bottom: 165px;
  right: 300px;
  width: 80px;
  height: 80px;
  transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
  border-color: #7177f1;
}

.about {
  padding-top: 75px;
  position: relative;
}

.about__motto {
  text-transform: uppercase;
  background: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 65px;
  box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
  border-radius: 8px;
  position: absolute;
  top: 15px;
  left: 0;
}

.about__rating {
  position: absolute;
  background: #0fdac2;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: -10px;
  top: -14px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  color: var(--secondary-text-color-alt);
}

.about__content {
  background: var(--primary-background);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  padding: 30px;
}

.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 75%;
  color: var(--primary-title-color);
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about__text {
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.about__button {
  width: 190px;
  height: 45px;
  background: var(--secondary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--secondary-text-color-alt);
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  transition: 0.5s;
}

.about__button:hover {
  color: var(--primary-text-color);
  background: var(--primary-background);
}

.shape {
  position: absolute;
  z-index: -1;
}

.shape_1 {
  right: 0;
  top: -400px;
  max-width: 60%;
}

/* ============================capabilities============================ */
.capabilities {
  padding-top: 75px;
  position: relative;
}

.capabilities__title {
  color: var(--primary-title-color);
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  text-transform: capitalize;
}

.accordion {
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
  overflow: hidden;
  background: var(--primary-background);
}

.accordion__button.collapsed::after {
  background: #dddddd;
}

.accordion__item:not(:last-child) .accordion__button::after {
  content: "";
  width: 100%;
  display: block;
  transition: 0.4s;
  margin-top: 15px;
  height: 1px;
}

.accordion__button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  background: var(--secondary-background);
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  text-align: left;
}

.accordion__button.collapsed {
  color: var(--primary-title-color);
  background: transparent;
}

.accordion__button:focus {
  outline: none;
}

.accordion_p {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.accordion__logo {
  height: 30px;
  width: 50px;
  object-fit: contain;
}

.accordion__body {
  padding: 10px 30px 55px;
  background: var(--secondary-background);
  color: var(--secondary-text-color-alt);
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
}

.accordion__angle::before {
  content: "\f0d8";
  font-weight: 900;
  font-size: 30px;
}

.collapsed .accordion__angle {
  transform: rotate(0deg);
}

.accordion__angle {
  transform: rotate(180deg);
  transition: 0.4s;
}

.rectangle_5 {
  border-color: #9297EF;
  height: 60px;
  width: 60px;
  left: 350px;
  top: 100px;
  border-radius: 50%;
}


/* ===============================================works=============================================== */

.works {
  position: relative;
  margin-top: 75px;
}

.works__title {
  color: var(--primary-title-color);
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.works__tab {
  width: 100%;
  background: var(--primary-background);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  height: 60px;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  transition: 0.5s;
}

.works__item:first-child .works__tab{
  border-radius: 8px 8px 0 0;
}

.works__item:last-child .works__tab{
  border-radius: 0 0 8px 8px;
}

.works__tab.active, .works__tab:hover{
  background: var(--secondary-background);
  color: var(--secondary-text-color-alt);
}

.works__content{
  padding: 20px;
  background: var(--primary-background);
  box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
  border-radius: 8px;
}

.works__img{
  height: 320px;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0 0 8px 8px;
}

.works__name{
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.works__text{
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
}

.works__link{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-background);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
  width: 190px;
  height: 45px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--secondary-text-color-alt);
  transition: 0.5s;
}

.works__link:hover{
  color: var(--primary-text-color);
  background: var(--primary-background);
}

footer{
  margin-top: 200px;
  padding-bottom: 130px;
}

.footer__link,.footer__contact{
  color: var(--secondary-text-color);
  text-decoration: underline;
  font-size: 24px;
  text-transform: capitalize;
  text-decoration-color: transparent;
  transition: 0.5s;
}

.footer__link:hover,
.footer__contact:hover{
  color: var(--secondary-text-color);
  text-decoration-color: inherit;
}

.shape_2{
  left: 0;
  top: -230px;
  max-width: 60vw;
}

.rectangle_6{
  border-color: #7177F1;
  width: 100px;
  height: 100px;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
  right: 90px;
  bottom: 120px;
}
.rectangle_7{
  border-color: #790FF1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 780px;
  bottom: -100px;
}
.rectangle_8{
  border-color: #790FF1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 125px;
  bottom: 100px;
}
